<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BHARATAM</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      body {
        font-family: "Poppins";
      }
    </style>
  </head>

  <body>
    <div
      style="
        max-width: 750px;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
      "
    >
      <div
        style="
          background-color: #eaf1f3;
          min-height: 290px;
          padding: 20px;
          text-align: center;
        "
      >
        <div style="margin: 0 auto">
          <img src="https://r2.easyimg.io/ns08xjr66/logo.png
          " alt="Logo image" width="200px" height="50px" />
        </div>
        <img
          src="https://r2.easyimg.io/rz9gnq7sd/emailbox.png"
          alt="Email image"
          width="286px"
          height="286px"
        />
      </div>
      <div
        style="
          background-color: #608c9b;
          min-height: 270px;
          padding: 20px;
          color: #ffffff;
        "
      >
        <div
          style="
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            text-align: center;
          "
        >
        Hi "<%= userName %>",
        </div>
        <div
          style="
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            margin: 16px 0;
          "
        >
        Your order for ORDER ID  "<%= orderId %>" has been delivered .
        </div>
        <div style="font-size: 16px; font-weight: 400; text-align: center">
          If you don’t want to accept the invite, please ignore this email.
        </div>
        <div style="text-align: center; margin: 18px auto">
          <div style="display: inline-block">
            <img
              src="https://r2.easyimg.io/sdrflrwvz/facebook.png
              "
              alt="Logo image"
              width="30px"
              height="30px"
              style="margin-right: 10px"
            />
            <img
              src="https://r2.easyimg.io/x8wn55mdw/twitter.png"
              alt="Logo image"
              width="30px"
              height="30px"
              style="margin-right: 10px"
            />
            <img
              src="https://r2.easyimg.io/nod4r8s3x/linkedin.png"
              alt="Logo image"
              width="30px"
              height="30px"
              style="margin-right: 10px"
            />
            <img
              src="https://r2.easyimg.io/sdrflrwvz/facebook.png
              "
              alt="Logo image"
              width="30px"
              height="30px"
            />
          </div>
        </div>
        <div style="font-size: 12px; font-weight: 400; text-align: center">
          Need Help? Ask at
          <span style="color: #b5cad1">team@bharatham.com</span> or visit our
          <span style="color: #b5cad1">help center</span>
        </div>
      </div>
    </div>
  </body>
</html>